---
layout: page
---

<div class="home-categories">
  <div
    class="category"
    onclick="location.href='https://dong149.github.io/developing/'"
  >
    <div class="category-text-wrap">
      <span class="category-text">Developing</span>
    </div>
  </div>

  <div
    class="category"
    onclick="location.href='https://dong149.github.io/algorithm/'"
  >
    <div class="category-text-wrap">
      <span class="category-text">Algorithm</span>
    </div>
  </div>

  <div
    class="category"
    onclick="location.href='https://dong149.github.io/project/'"
  >
    <div class="category-text-wrap">
      <span class="category-text">Project</span>
    </div>
  </div>

  <!-- {%- for post in site.posts -%}
	<li>
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		<div class="post-meta">
			<a class="post-link" href="{{ post.url | relative_url }}">
				<h2 class="post-title">{{ post.title | escape }}</h2>
			</a>
			<div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
		</div>
		<div class="post">
			{%- if site.show_excerpts -%}
			{{ post.excerpt }}
			{%- endif -%}
		</div>
	</li>
	{%- endfor -%} -->
</div>
